@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700|Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700|Roboto+Slab);
/* line 10, ../sass/foundation.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../sass/foundation.scss */
html,
body {
  font-size: 100%;
}

/* line 19, ../sass/foundation.scss */
body {
  background: white;
  color: #333;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 31, ../sass/foundation.scss */
a:hover {
  cursor: pointer;
  color: #d64003;
}

/* line 36, ../sass/foundation.scss */
a:focus {
  outline: 3px solid #6069de;
}

/* line 40, ../sass/foundation.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 45, ../sass/foundation.scss */
object,
embed {
  height: 100%;
}

/* line 48, ../sass/foundation.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 56, ../sass/foundation.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 59, ../sass/foundation.scss */
.left {
  float: left !important;
}

/* line 62, ../sass/foundation.scss */
.right {
  float: right !important;
}

/* line 65, ../sass/foundation.scss */
.text-left {
  text-align: left !important;
}

/* line 68, ../sass/foundation.scss */
.text-right {
  text-align: right !important;
}

/* line 71, ../sass/foundation.scss */
.text-center {
  text-align: center !important;
}

/* line 74, ../sass/foundation.scss */
.text-justify {
  text-align: justify !important;
}

/* line 77, ../sass/foundation.scss */
.hide {
  display: none;
}

/* line 80, ../sass/foundation.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 83, ../sass/foundation.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 87, ../sass/foundation.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 91, ../sass/foundation.scss */
select {
  width: 100%;
}

/* Grid HTML Classes */
/* line 95, ../sass/foundation.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  /**************************************/
  *zoom: 1;
}

/* line 103, ../sass/foundation.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}

/* line 106, ../sass/foundation.scss */
.row:after {
  clear: both;
}

/* line 109, ../sass/foundation.scss */
.row.collapse .column,
.row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}

/* line 114, ../sass/foundation.scss */
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}

/* line 122, ../sass/foundation.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}

/* line 125, ../sass/foundation.scss */
.row .row:after {
  clear: both;
}

/* line 127, ../sass/foundation.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}

/* line 132, ../sass/foundation.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}

/* line 135, ../sass/foundation.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 139, ../sass/foundation.scss */
.column,
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

@media only screen {
  /* line 148, ../sass/foundation.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  /* line 154, ../sass/foundation.scss */
  .small-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 158, ../sass/foundation.scss */
  .small-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 162, ../sass/foundation.scss */
  .small-3 {
    position: relative;
    width: 25%;
  }

  /* line 166, ../sass/foundation.scss */
  .small-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 170, ../sass/foundation.scss */
  .small-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 174, ../sass/foundation.scss */
  .small-6 {
    position: relative;
    width: 50%;
  }

  /* line 178, ../sass/foundation.scss */
  .small-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 182, ../sass/foundation.scss */
  .small-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 186, ../sass/foundation.scss */
  .small-9 {
    position: relative;
    width: 75%;
  }

  /* line 190, ../sass/foundation.scss */
  .small-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 194, ../sass/foundation.scss */
  .small-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 198, ../sass/foundation.scss */
  .small-12 {
    position: relative;
    width: 100%;
  }

  /* line 202, ../sass/foundation.scss */
  .small-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 206, ../sass/foundation.scss */
  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 210, ../sass/foundation.scss */
  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 214, ../sass/foundation.scss */
  .small-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 218, ../sass/foundation.scss */
  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 222, ../sass/foundation.scss */
  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 226, ../sass/foundation.scss */
  .small-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 230, ../sass/foundation.scss */
  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 234, ../sass/foundation.scss */
  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 238, ../sass/foundation.scss */
  .small-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 242, ../sass/foundation.scss */
  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 246, ../sass/foundation.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  /* line 249, ../sass/foundation.scss */
  [class*="column"] + [class*="column"].end {
    float: left;
  }

  /* line 253, ../sass/foundation.scss */
  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}
/* Styles for screens that are atleast 640px; */
@media only screen and (min-width: 640px) {
  /* line 260, ../sass/foundation.scss */
  .large-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 264, ../sass/foundation.scss */
  .large-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 268, ../sass/foundation.scss */
  .large-3 {
    position: relative;
    width: 25%;
  }

  /* line 272, ../sass/foundation.scss */
  .large-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 276, ../sass/foundation.scss */
  .large-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 280, ../sass/foundation.scss */
  .large-6 {
    position: relative;
    width: 50%;
  }

  /* line 284, ../sass/foundation.scss */
  .large-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 288, ../sass/foundation.scss */
  .large-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 292, ../sass/foundation.scss */
  .large-9 {
    position: relative;
    width: 75%;
  }

  /* line 296, ../sass/foundation.scss */
  .large-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 300, ../sass/foundation.scss */
  .large-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 304, ../sass/foundation.scss */
  .large-12 {
    position: relative;
    width: 100%;
  }

  /* line 308, ../sass/foundation.scss */
  .row .large-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 312, ../sass/foundation.scss */
  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 316, ../sass/foundation.scss */
  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 320, ../sass/foundation.scss */
  .row .large-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 324, ../sass/foundation.scss */
  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 328, ../sass/foundation.scss */
  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 332, ../sass/foundation.scss */
  .row .large-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 336, ../sass/foundation.scss */
  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 340, ../sass/foundation.scss */
  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 344, ../sass/foundation.scss */
  .row .large-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 348, ../sass/foundation.scss */
  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 352, ../sass/foundation.scss */
  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%;
  }

  /* line 356, ../sass/foundation.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 361, ../sass/foundation.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 366, ../sass/foundation.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 371, ../sass/foundation.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 376, ../sass/foundation.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 381, ../sass/foundation.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 386, ../sass/foundation.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 391, ../sass/foundation.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 396, ../sass/foundation.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 401, ../sass/foundation.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 406, ../sass/foundation.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 411, ../sass/foundation.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 416, ../sass/foundation.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 421, ../sass/foundation.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 426, ../sass/foundation.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 431, ../sass/foundation.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 436, ../sass/foundation.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 441, ../sass/foundation.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 446, ../sass/foundation.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 451, ../sass/foundation.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 456, ../sass/foundation.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 461, ../sass/foundation.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 467, ../sass/foundation.scss */
  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  /* line 474, ../sass/foundation.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  /* line 480, ../sass/foundation.scss */
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important;
  }
}
/* Foundation Block Grids for below small breakpoint */
@media only screen {
  /* line 484, ../sass/foundation.scss */
  [class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625em;
    *zoom: 1;
  }

  /* line 489, ../sass/foundation.scss */
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table;
  }

  /* line 492, ../sass/foundation.scss */
  [class*="block-grid-"]:after {
    clear: both;
  }

  /* line 494, ../sass/foundation.scss */
  [class*="block-grid-"] > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625em 1.25em;
  }

  /* line 500, ../sass/foundation.scss */
  .small-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625em 1.25em;
  }

  /* line 503, ../sass/foundation.scss */
  .small-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 505, ../sass/foundation.scss */
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  /* line 508, ../sass/foundation.scss */
  .small-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625em 1.25em;
  }

  /* line 511, ../sass/foundation.scss */
  .small-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 513, ../sass/foundation.scss */
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  /* line 516, ../sass/foundation.scss */
  .small-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625em 1.25em;
  }

  /* line 519, ../sass/foundation.scss */
  .small-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 521, ../sass/foundation.scss */
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  /* line 524, ../sass/foundation.scss */
  .small-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625em 1.25em;
  }

  /* line 527, ../sass/foundation.scss */
  .small-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 529, ../sass/foundation.scss */
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  /* line 532, ../sass/foundation.scss */
  .small-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625em 1.25em;
  }

  /* line 535, ../sass/foundation.scss */
  .small-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 537, ../sass/foundation.scss */
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  /* line 540, ../sass/foundation.scss */
  .small-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625em 1.25em;
  }

  /* line 543, ../sass/foundation.scss */
  .small-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 545, ../sass/foundation.scss */
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  /* line 548, ../sass/foundation.scss */
  .small-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625em 1.25em;
  }

  /* line 551, ../sass/foundation.scss */
  .small-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 553, ../sass/foundation.scss */
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  /* line 556, ../sass/foundation.scss */
  .small-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625em 1.25em;
  }

  /* line 559, ../sass/foundation.scss */
  .small-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 561, ../sass/foundation.scss */
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  /* line 564, ../sass/foundation.scss */
  .small-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625em 1.25em;
  }

  /* line 567, ../sass/foundation.scss */
  .small-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 569, ../sass/foundation.scss */
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  /* line 572, ../sass/foundation.scss */
  .small-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625em 1.25em;
  }

  /* line 575, ../sass/foundation.scss */
  .small-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 577, ../sass/foundation.scss */
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  /* line 580, ../sass/foundation.scss */
  .small-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625em 1.25em;
  }

  /* line 583, ../sass/foundation.scss */
  .small-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 585, ../sass/foundation.scss */
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  /* line 588, ../sass/foundation.scss */
  .small-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625em 1.25em;
  }

  /* line 591, ../sass/foundation.scss */
  .small-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 593, ../sass/foundation.scss */
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
/* Foundation Block Grids for above small breakpoint */
@media only screen and (min-width: 640px) {
  /* Remove small grid clearing */
  /* line 598, ../sass/foundation.scss */
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none;
  }

  /* line 601, ../sass/foundation.scss */
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none;
  }

  /* line 604, ../sass/foundation.scss */
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none;
  }

  /* line 607, ../sass/foundation.scss */
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none;
  }

  /* line 610, ../sass/foundation.scss */
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none;
  }

  /* line 613, ../sass/foundation.scss */
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none;
  }

  /* line 616, ../sass/foundation.scss */
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none;
  }

  /* line 619, ../sass/foundation.scss */
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none;
  }

  /* line 622, ../sass/foundation.scss */
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none;
  }

  /* line 625, ../sass/foundation.scss */
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none;
  }

  /* line 628, ../sass/foundation.scss */
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none;
  }

  /* line 631, ../sass/foundation.scss */
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none;
  }

  /* line 634, ../sass/foundation.scss */
  .large-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625em 1.25em;
  }

  /* line 637, ../sass/foundation.scss */
  .large-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 639, ../sass/foundation.scss */
  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  /* line 642, ../sass/foundation.scss */
  .large-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625em 1.25em;
  }

  /* line 645, ../sass/foundation.scss */
  .large-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 647, ../sass/foundation.scss */
  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  /* line 650, ../sass/foundation.scss */
  .large-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625em 1.25em;
  }

  /* line 653, ../sass/foundation.scss */
  .large-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 655, ../sass/foundation.scss */
  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  /* line 658, ../sass/foundation.scss */
  .large-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625em 1.25em;
  }

  /* line 661, ../sass/foundation.scss */
  .large-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 663, ../sass/foundation.scss */
  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  /* line 666, ../sass/foundation.scss */
  .large-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625em 1.25em;
  }

  /* line 669, ../sass/foundation.scss */
  .large-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 671, ../sass/foundation.scss */
  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  /* line 674, ../sass/foundation.scss */
  .large-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625em 1.25em;
  }

  /* line 677, ../sass/foundation.scss */
  .large-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 679, ../sass/foundation.scss */
  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  /* line 682, ../sass/foundation.scss */
  .large-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625em 1.25em;
  }

  /* line 685, ../sass/foundation.scss */
  .large-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 687, ../sass/foundation.scss */
  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  /* line 690, ../sass/foundation.scss */
  .large-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625em 1.25em;
  }

  /* line 693, ../sass/foundation.scss */
  .large-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 695, ../sass/foundation.scss */
  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  /* line 698, ../sass/foundation.scss */
  .large-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625em 1.25em;
  }

  /* line 701, ../sass/foundation.scss */
  .large-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 703, ../sass/foundation.scss */
  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  /* line 706, ../sass/foundation.scss */
  .large-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625em 1.25em;
  }

  /* line 709, ../sass/foundation.scss */
  .large-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 711, ../sass/foundation.scss */
  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  /* line 714, ../sass/foundation.scss */
  .large-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625em 1.25em;
  }

  /* line 717, ../sass/foundation.scss */
  .large-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 719, ../sass/foundation.scss */
  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  /* line 722, ../sass/foundation.scss */
  .large-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625em 1.25em;
  }

  /* line 725, ../sass/foundation.scss */
  .large-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }

  /* line 727, ../sass/foundation.scss */
  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
/* line 730, ../sass/foundation.scss */
p.lead {
  font-size: 1.21875em;
  line-height: 1.6;
}

/* line 734, ../sass/foundation.scss */
.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: 300;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

/* Typography resets */
/* line 760, ../sass/foundation.scss */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

/* Default Link Styles */
/* line 766, ../sass/foundation.scss */
a {
  color: #6069de;
  text-decoration: none;
  line-height: inherit;
}
/* line 771, ../sass/foundation.scss */
a :hover, a :focus {
  color: #d64003;
}

/* line 776, ../sass/foundation.scss */
a img {
  border: none;
}

/* Default paragraph styles */
/* line 780, ../sass/foundation.scss */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility;
}

/* line 787, ../sass/foundation.scss */
p aside {
  font-size: 0.875em;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
/* line 793, ../sass/foundation.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #333;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
}

/* line 802, ../sass/foundation.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

/* line 807, ../sass/foundation.scss */
h1 {
  font-size: 2.125em;
}

/* line 810, ../sass/foundation.scss */
h2 {
  font-size: 1.6875em;
}

/* line 813, ../sass/foundation.scss */
h3 {
  font-size: 1.375em;
}

/* line 816, ../sass/foundation.scss */
h4 {
  font-size: 1.125em;
}

/* line 819, ../sass/foundation.scss */
h5 {
  font-size: 1.125em;
}

/* line 822, ../sass/foundation.scss */
h6 {
  font-size: 1em;
}

/* line 825, ../sass/foundation.scss */
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

/* Helpful Typography Defaults */
/* line 834, ../sass/foundation.scss */
em,
i {
  font-style: italic;
  line-height: inherit;
}

/* line 839, ../sass/foundation.scss */
strong,
b {
  font-weight: bold;
  line-height: inherit;
}

/* line 843, ../sass/foundation.scss */
small {
  font-size: 60%;
  line-height: inherit;
}

/* line 847, ../sass/foundation.scss */
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #7f0a0c;
}

/* Lists */
/* line 855, ../sass/foundation.scss */
ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: outside;
  font-family: inherit;
}

/* line 862, ../sass/foundation.scss */
ul, ol {
  margin-left: 0;
}

/* Unordered Lists */
/* line 867, ../sass/foundation.scss */
ul li ul,
ul li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
  font-size: 1em;
  /* Override nested font-size change */
}

/* line 872, ../sass/foundation.scss */
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}

/* line 874, ../sass/foundation.scss */
ul.square {
  list-style-type: square;
}

/* line 876, ../sass/foundation.scss */
ul.circle {
  list-style-type: circle;
}

/* line 878, ../sass/foundation.scss */
ul.disc {
  list-style-type: disc;
}

/* line 880, ../sass/foundation.scss */
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
/* line 885, ../sass/foundation.scss */
ol li ul,
ol li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
}

/* Blockquotes */
/* line 890, ../sass/foundation.scss */
blockquote {
  margin: 0 0 1.25em;
  padding: 0.5625em 1.25em 0 1.1875em;
  border-left: 1px solid #dddddd;
}

/* line 894, ../sass/foundation.scss */
blockquote cite {
  display: block;
  font-size: 0.8125em;
  color: #555555;
}

/* line 898, ../sass/foundation.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 901, ../sass/foundation.scss */
blockquote cite a,
blockquote cite a:visited {
  color: #555555;
}

/* line 905, ../sass/foundation.scss */
blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

@media only screen and (min-width: 640px) {
  /* line 911, ../sass/foundation.scss */
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  /* line 914, ../sass/foundation.scss */
  h1 {
    font-size: 2.75em;
  }

  /* line 917, ../sass/foundation.scss */
  h2 {
    font-size: 2.3125em;
  }

  /* line 920, ../sass/foundation.scss */
  h3 {
    font-size: 1.6875em;
  }

  /* line 923, ../sass/foundation.scss */
  h4 {
    font-size: 1.4375em;
  }
}
/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
/* line 931, ../sass/foundation.scss */
.print-only {
  display: none !important;
}

@media print {
  /* line 935, ../sass/foundation.scss */
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 943, ../sass/foundation.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 946, ../sass/foundation.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 949, ../sass/foundation.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 954, ../sass/foundation.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 958, ../sass/foundation.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 962, ../sass/foundation.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 967, ../sass/foundation.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 970, ../sass/foundation.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 978, ../sass/foundation.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 983, ../sass/foundation.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 986, ../sass/foundation.scss */
  .hide-on-print {
    display: none !important;
  }

  /* line 989, ../sass/foundation.scss */
  .print-only {
    display: block !important;
  }

  /* line 992, ../sass/foundation.scss */
  .hide-for-print {
    display: none !important;
  }

  /* line 995, ../sass/foundation.scss */
  .show-for-print {
    display: inherit !important;
  }
}
/**** Home ****/
/* line 1002, ../sass/foundation.scss */
#work {
  padding: 0;
  margin: 0;
}
/* line 1006, ../sass/foundation.scss */
#work h2, #work h3 {
  color: #FFF;
  text-shadow: 1px 1px 3px #111;
  padding-left: 2rem;
}
/* line 1012, ../sass/foundation.scss */
#work h2 {
  text-transform: uppercase;
  margin: 0;
  padding-top: 12rem;
  line-height: auto;
}
/* line 1019, ../sass/foundation.scss */
#work h3 {
  padding-bottom: 2rem;
}
/* line 1024, ../sass/foundation.scss */
#work ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 1029, ../sass/foundation.scss */
#work ul li {
  height: 18.75rem;
  overflow: hidden;
  background: #DDD;
  border-bottom: .25rem solid #fff;
}
/* line 1034, ../sass/foundation.scss */
#work ul li :focus {
  opacity: .7;
}
/* line 1038, ../sass/foundation.scss */
#work ul li a {
  display: block;
  background-size: cover;
  height: 18.75rem;
  transition: all .1s ease;
}
/* line 1051, ../sass/foundation.scss */
#work ul :last-child {
  border: none;
}

/********  hi  *****************/
/* line 1061, ../sass/foundation.scss */
#hi img, #hi div {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

/* line 1067, ../sass/foundation.scss */
#social-media {
  width: 9rem;
}
/* line 1069, ../sass/foundation.scss */
#social-media a {
  display: inline-block;
  height: 2.125rem;
  width: 2.125rem;
  margin-right: 1rem;
}
/* line 1074, ../sass/foundation.scss */
#social-media a:last-child {
  margin-right: 0;
}
/* line 1079, ../sass/foundation.scss */
#social-media #twitter {
  background: no-repeat url("/img/sprite.png");
}
/* line 1082, ../sass/foundation.scss */
#social-media #twitter:hover {
  background-position: 0px -34px;
}
/* line 1086, ../sass/foundation.scss */
#social-media #linked-in {
  background: no-repeat url("/img/sprite.png");
  background-position: -33px 0px;
}
/* line 1090, ../sass/foundation.scss */
#social-media #linked-in:hover {
  background-position: -33px -34px;
}
/* line 1095, ../sass/foundation.scss */
#social-media #github {
  background: no-repeat url("/img/sprite.png");
  background-position: -67px 0px;
}
/* line 1099, ../sass/foundation.scss */
#social-media #github:hover {
  background-position: -67px -34px;
}

@media only screen and (min-width: 640px) {
  /* line 1106, ../sass/foundation.scss */
  #hi {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
/*****  PROJECTS  *****/
/* line 1119, ../sass/foundation.scss */
.heroImage h1, .heroImage h2 {
  color: #fff;
  text-shadow: 1px 1px 3px #111;
  margin: 0;
}
/* line 1125, ../sass/foundation.scss */
.heroImage h1 {
  padding-top: 18rem;
  text-transform: uppercase;
}
/* line 1130, ../sass/foundation.scss */
.heroImage h2 {
  padding-bottom: 2rem;
  text-transform: capitalize !important;
}

/* line 1136, ../sass/foundation.scss */
#llb-cover {
  background: #dddddd no-repeat url("../img/cover-llb.jpg") center center;
  background-size: cover;
}

/* line 1141, ../sass/foundation.scss */
#pum-cover {
  background: #dddddd no-repeat url("../img/cover-pum.jpg") center center;
  background-size: cover;
}

/* line 1146, ../sass/foundation.scss */
#mic-cover {
  background: #dddddd no-repeat url("../img/cover-mic.jpg") center center;
  background-size: cover;
}

/* line 1151, ../sass/foundation.scss */
#wok-cover {
  background: #dddddd no-repeat url("../img/cover-wok.jpg") center center;
  background-size: cover;
}

/* line 1156, ../sass/foundation.scss */
#oak-cover {
  background: #dddddd no-repeat url("../img/cover-oak.jpg") center center;
  background-size: cover;
}

/* line 1162, ../sass/foundation.scss */
#goo-cover {
  background: #dddddd no-repeat url("../img/cover-goo.jpg") center center;
  background-size: cover;
}

/* line 1168, ../sass/foundation.scss */
#car-cover {
  background: #dddddd no-repeat url("../img/cover-car.jpg") center center;
  background-size: cover;
}

/* line 1176, ../sass/foundation.scss */
.project .back-to-home {
  display: block;
  position: absolute;
  z-index: 1;
  padding: 1rem;
  width: 100%;
  box-shadow: 0px 0px 1rem #000;
  opacity: .92;
  background: #fff;
  margin-bottom: -3rem;
}
/* line 1187, ../sass/foundation.scss */
.project .back-to-home :hover {
  opacity: 1;
}
/* line 1193, ../sass/foundation.scss */
.project img {
  width: 100%;
}
/* line 1197, ../sass/foundation.scss */
.project .row {
  max-width: 80rem;
  padding-top: 1rem;
}
/* line 1202, ../sass/foundation.scss */
.project .lede {
  font-size: 1.4rem;
}
/* line 1206, ../sass/foundation.scss */
.project h2 {
  text-transform: uppercase;
}
/* line 1210, ../sass/foundation.scss */
.project .content {
  padding-top: 1.25rem;
}
/* line 1213, ../sass/foundation.scss */
.project .content .row {
  padding-bottom: 1rem;
}
/* line 1217, ../sass/foundation.scss */
.project .content h2:before {
  content: "▁";
  position: absolute;
  top: -2.5rem;
  font-size: 2.5rem;
  color: #6069de;
}
/* line 1226, ../sass/foundation.scss */
.project .content dt {
  font-weight: normal;
  font-size: .75rem;
  line-height: .75rem;
  padding-top: 1rem;
}
/* line 1233, ../sass/foundation.scss */
.project .content dd {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.25rem;
}
/* line 1238, ../sass/foundation.scss */
.project .content dd a {
  text-transform: none;
}
/* line 1241, ../sass/foundation.scss */
.project .content dd a :hover {
  color: #d64003;
}
/* line 1247, ../sass/foundation.scss */
.project .content ul {
  list-style: square;
  padding-left: 2rem;
}
/* line 1252, ../sass/foundation.scss */
.project .content img {
  box-shadow: 1px 1px 8px #ddd;
}

/* Grid HTML Classes */
/* line 9, ../sass/custom.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  /**************************************/
}

/**** Home ****/
/* line 21, ../sass/custom.scss */
#work {
  padding: 0;
  margin: 0;
}
/* line 25, ../sass/custom.scss */
#work h2, #work h3 {
  color: #FFF;
  text-shadow: 1px 1px 3px #111;
  padding-left: 2rem;
}
/* line 31, ../sass/custom.scss */
#work h2 {
  text-transform: uppercase;
  margin: 0;
  padding-top: 12rem;
  line-height: auto;
}
/* line 38, ../sass/custom.scss */
#work h3 {
  padding-bottom: 2rem;
}
/* line 43, ../sass/custom.scss */
#work ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 48, ../sass/custom.scss */
#work ul li {
  height: 18.75rem;
  overflow: hidden;
  background: #DDD;
  border-bottom: .25rem solid #fff;
}
/* line 53, ../sass/custom.scss */
#work ul li :focus {
  opacity: .7;
}
/* line 57, ../sass/custom.scss */
#work ul li a {
  display: block;
  background-size: cover;
  height: 18.75rem;
  transition: all .1s ease;
}
/* line 70, ../sass/custom.scss */
#work ul :last-child {
  border: none;
}

/********  hi  *****************/
/* line 80, ../sass/custom.scss */
#hi img, #hi div {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

/* line 86, ../sass/custom.scss */
#social-media {
  width: 9rem;
}
/* line 88, ../sass/custom.scss */
#social-media a {
  display: inline-block;
  height: 2.125rem;
  width: 2.125rem;
  margin-right: 1rem;
}
/* line 93, ../sass/custom.scss */
#social-media a:last-child {
  margin-right: 0;
}
/* line 98, ../sass/custom.scss */
#social-media #twitter {
  background: no-repeat url("/img/sprite.png");
}
/* line 101, ../sass/custom.scss */
#social-media #twitter:hover {
  background-position: 0px -34px;
}
/* line 105, ../sass/custom.scss */
#social-media #linked-in {
  background: no-repeat url("/img/sprite.png");
  background-position: -33px 0px;
}
/* line 109, ../sass/custom.scss */
#social-media #linked-in:hover {
  background-position: -33px -34px;
}
/* line 114, ../sass/custom.scss */
#social-media #github {
  background: no-repeat url("/img/sprite.png");
  background-position: -67px 0px;
}
/* line 118, ../sass/custom.scss */
#social-media #github:hover {
  background-position: -67px -34px;
}

@media only screen and (min-width: 640px) {
  /* line 125, ../sass/custom.scss */
  #hi {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
/*****  PROJECTS  *****/
/* line 138, ../sass/custom.scss */
.heroImage h1, .heroImage h2 {
  color: #fff;
  text-shadow: 1px 1px 3px #111;
  margin: 0;
}
/* line 144, ../sass/custom.scss */
.heroImage h1 {
  padding-top: 18rem;
  text-transform: uppercase;
}
/* line 149, ../sass/custom.scss */
.heroImage h2 {
  padding-bottom: 2rem;
  text-transform: capitalize !important;
}

/* line 155, ../sass/custom.scss */
#llb-cover {
  background: #dddddd no-repeat url("../img/cover-llb.jpg") center center;
  background-size: cover;
}

/* line 160, ../sass/custom.scss */
#pum-cover {
  background: #dddddd no-repeat url("../img/cover-pum.jpg") center center;
  background-size: cover;
}

/* line 165, ../sass/custom.scss */
#mic-cover {
  background: #dddddd no-repeat url("../img/cover-mic.jpg") center center;
  background-size: cover;
}

/* line 170, ../sass/custom.scss */
#wok-cover {
  background: #dddddd no-repeat url("../img/cover-wok.jpg") center center;
  background-size: cover;
}

/* line 175, ../sass/custom.scss */
#oak-cover {
  background: #dddddd no-repeat url("../img/cover-oak.jpg") center center;
  background-size: cover;
}

/* line 181, ../sass/custom.scss */
#goo-cover {
  background: #dddddd no-repeat url("../img/cover-goo.jpg") center center;
  background-size: cover;
}

/* line 187, ../sass/custom.scss */
#car-cover {
  background: #dddddd no-repeat url("../img/cover-car.jpg") center center;
  background-size: cover;
}

/* line 195, ../sass/custom.scss */
.project .back-to-home {
  display: block;
  position: absolute;
  z-index: 1;
  padding: 1rem;
  width: 100%;
  box-shadow: 0px 0px 1rem #000;
  opacity: .92;
  background: #fff;
  margin-bottom: -3rem;
}
/* line 206, ../sass/custom.scss */
.project .back-to-home :hover {
  opacity: 1;
}
/* line 212, ../sass/custom.scss */
.project img {
  width: 100%;
}
/* line 216, ../sass/custom.scss */
.project .row {
  max-width: 80rem;
  padding-top: 1rem;
}
/* line 221, ../sass/custom.scss */
.project .lede {
  font-size: 1.4rem;
}
/* line 225, ../sass/custom.scss */
.project h2 {
  text-transform: uppercase;
}
/* line 229, ../sass/custom.scss */
.project .content {
  padding-top: 1.25rem;
}
/* line 232, ../sass/custom.scss */
.project .content .row {
  padding-bottom: 1rem;
}
/* line 236, ../sass/custom.scss */
.project .content h2:before {
  content: "▁";
  position: absolute;
  top: -2.5rem;
  font-size: 2.5rem;
  color: #5f6ade;
}
/* line 245, ../sass/custom.scss */
.project .content dt {
  font-weight: normal;
  font-size: .75rem;
  line-height: .75rem;
  padding-top: 1rem;
}
/* line 252, ../sass/custom.scss */
.project .content dd {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.25rem;
}
/* line 257, ../sass/custom.scss */
.project .content dd a {
  text-transform: none;
}
/* line 262, ../sass/custom.scss */
.project .content ul {
  list-style: square;
  padding-left: 2rem;
}
/* line 267, ../sass/custom.scss */
.project .content img {
  box-shadow: 1px 1px 8px #ddd;
}
