@import "settings";

@import "foundation/components/grid";
@import "foundation/components/type";

// @import "foundation";
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

#hi{
	@extend .columns;
	@extend .small-12;
	@extend .medium-5;
	@extend .large-4;
	padding:2%;
	top:0;
	bottom: 0;

	@media #{$medium-up}{
		position: fixed;
		top:0;
		bottom: 0;	
	}

	img{
		border-radius: 50%;
		margin: auto;
		display: block;
	}
}

#work{
	@extend .columns;
	@extend .small-12;
	@extend .medium-7;
	@extend .large-8;
	padding:0;
	float:right;

	ul{
		list-style: none;
		margin:0;
	}

	li{
		padding-bottom:.25rem;

		&:last-child{
			padding-bottom: 0;
		}
	}

	a{
		display: block;
	}
}

.cover{
	background-size: cover !important;
}

#llb-cover{
  background: #ddd no-repeat url('../img/cover-llb.jpg') center center;
}

#pum-cover{
  background: #ddd no-repeat url('../img/cover-pum.jpg') center center;
}

#mic-cover{
  background: #ddd no-repeat url('../img/cover-mic.jpg') center center;
}

#wok-cover{
  background: #ddd no-repeat url('../img/cover-wok.jpg') center center;
}

#oak-cover{
  background: #ddd no-repeat url('../img/cover-oak.jpg') center center;
}


.client-name, .project-name{
	margin: 0;
	color: #fff;
	text-shadow: 1px 1px 3px #111;
}

#work .client-name, #work .project-name{
		padding-left: 2rem;
}

.client-name{
	padding-top: 15rem;
}

.project-name{
	padding-bottom: 2rem;
}

.container{
	@extend .row;
	padding: 0 2rem;
}

dl{
	@extend .small-12;
	@extend .medium-4;
	@extend .columns;
	padding-left: 0;
}

.lede{
	@extend .small-12;
	@extend .medium-8;
	@extend .columns;
	padding-left: 0;
	max-width: 40rem;
}

h2{
	clear:left;
}

.back-to-home{
	display: block;
	width: 100%;
	position: absolute;
	z-index: 1;
	padding: 1rem;
	box-shadow: 0 0 2rem rgba(50,50,50,.5);
	background: #fff;
	background: rgba(255,255,255,.95);
}

.sample-deliverables > p, .sample-deliverables > div{
	@extend .medium-4;
	@extend .columns;
	display: inline-block;
	float:right;
	clear:both;

	@media #{$small-only}{
		padding-left:0;
		padding-right:0;
	}
}

.sample-deliverables img{
	@extend .medium-8;
	@extend .columns;
	padding-left: 0;
	margin-bottom: 3rem;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}

#watch{
	width:100%;
	float:left;
}
#face {
  position: absolute;
  top: 16.520467836257%;
  left: 18.307006885379%;
  width: 16.200891049008%;
  height: 14.619883040936%;
  
}
#face img {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: none;
  padding:0;
  display: none;
}
