.recipe {
	margin: 0px auto;
	width:80%;
	max-width: 40rem;
	font-size:1.3rem;
	padding-left: 1rem;
}

.list-of-recipes{
	list-style: none;
	margin: 0;

	li{
		padding: .25rem 0;
	}
}

h1{
	font-size: 170%;
}

h2{
	font-size: 120%;
}

h3{
	font-size: 100%;
}

ul, ol{
	margin-left: 2rem;
}

ul{
	list-style: square;
}