#watch{
	position: relative;
	width: 20rem;

	img{
		width:100%;
	}
}

#face{
	position: absolute;
	width: 72.222222222222%;
	margin-left: 21.111111111111%;
	height: 50.485436893204%;
	margin-top: 35.277777777778%;
	top:0;
	left:0;

	img{
		position: absolute;
		width: 100%;
	}
}